fastapi==0.128.0
langchain_community==0.4.1
langchain_core==1.2.6
langchain_google_genai==4.1.3
langchain_groq==1.1.1
langchain_huggingface==1.2.0
langchain_pinecone==0.2.13
langchain_text_splitters==1.1.0
pinecone==8.0.0
pydantic==2.12.5
PyPDF2==3.0.1
